<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>dev.openpush.mobile.contacts-refresh</string>
		<string>dev.openpush.mobile.contacts-processing</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>OpenPush syncs contacts you choose to share with your vault.</string>
</dict>
</plist>
